/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
}
nav a {
  padding: 0 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}

a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
#portfolio a {
  padding: 10px;
  font-size: 1.2em;
  text-decoration: none;
  color: black;
}
#portfolioTitle {
  margin-right: 25px;
  margin-bottom: 0;
}
#projectEdit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.fa-regular,
.far {
  font-weight: 400;
  font-size: 1.5em;
  margin: 10px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
#filterContainer {
  display: flex;
  justify-content: center;
}
.filter {
  color: #1d6154;
  font-family: "Syne";
  font-weight: 700;
  margin: 10px;
  text-align: center;
  border-radius: 60px;
  border-color: #1d6154;
  background-color: #ffffff;
}
.filter:hover {
  color: #ffffff;
  cursor: pointer;
  background-color: #1d6154;
}
.active {
  color: #ffffff;
  background-color: #1d6154;
}
footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.contact {
  width: 50%;
  margin: auto;
}
.contact > * {
  text-align: center;
}
.contact a {
  text-decoration-line: underline;
}

.contact h2 {
  margin-bottom: 20px;
}
.contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.contact label {
  margin: 2em 0 1em 0;
}
.contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.display {
  display: none !important;
}
.modal {
  display: flex;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.modal-wrapper {
  overflow: auto;
  width: 600px;
  height: 650px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 50px);
  padding: 20px;
  background-color: #ffffff;
  border-radius: 1%;
}
.modal-wrapper i {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
}
.modal-wrapper h3 {
  display: flex;
  justify-content: center;
  font-size: 2em;
}
.modalHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}
#modal-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 40px;
  padding-left: 2em;
}

#modal-gallery img {
  width: 90px;
  height: 100px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 5px;
  margin-right: 5px;
}
.modalButton {
  height: 50px;
  font-size: 1.2em;
  border: none;
  padding-inline: 4em;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em 2em 0;
  text-align: center;
  border-radius: 60px;
}
#addPictureButton {
  height: 50px !important;
  font-size: 1.2em !important;
  margin-top: 40px !important;
  border: none;
  padding-inline: 4em;
  font-family: "Syne";
  font-weight: 700;
  color: white !important;
  background-color: #1d6154;
  margin: 2em 2em 0;
  text-align: center;
  border-radius: 60px;
}
.buttonContainer {
  text-align: center;
  border-top: 1px solid;
  border-top-color: #b3b3b3;
  margin-inline: 5em;
}
.divPosition {
  position: relative;
}
.iconPosition {
  color: white;
  font-size: 15px !important;
  position: absolute;
  top: 5px;
  right: 10px;
  background-color: black;
  padding: 5px;
  border-radius: 15%;
}
#modal2 label {
  margin: 0.5em;
}
#modal2 form {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}
#modal2 input {
  height: 35px;
  font-size: 1em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#modal2 select {
  height: 35px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#labelPhoto {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  background-color: #e8f1f6;
  border-radius: 3px;
  text-align: center;
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
#labelPhoto i {
  font-size: 6em;
  color: #cbd6dc;
  margin: 20px;
}
#photo {
  display: none;
}

#labelPhoto label {
  padding: 15px;
  font-size: 1.2em;
  border: none;
  padding-inline: 4em;
  font-family: "Syne";
  font-weight: 700;
  color: #306685;
  background-color: #cbd6dc;
  margin: 0em !important;
  text-align: center;
  border-radius: 60px;
}
#labelPhoto p {
  font-size: 10px;
  font-weight: 400;
}
#imagePreview {
  display: none;
  height: 200px;
  width: 180px;
}
#iconsModal {
  display: flex;
  justify-content: space-between;
}
